Source: gmbox-sidebar
Section: non-free/devel
Priority: optional
Maintainer: Roman Kalashnikov <rkalashnikov@getmobit.ru>
Build-Depends: debhelper (>=9),
               qt511base | qt5-default,
               qt511declarative | qtdeclarative5-dev,
               qt511quickcontrols2 | qtquickcontrols2-5-dev,
               cmake (>=3.4.0)
Standards-Version: 3.9.6
Homepage: https://git.dev.getmobit.ru/system0/gmbox-sidebar

Package: gmbox-sidebar
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Sidebar application
 This app allows to users switch motherboards and terminate session
